@mixin flexible($justify: center,$align: center,$wrap: wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;    
}
@mixin position($pos,$top,$left,$right,$bottom,$trans){
    position: $pos;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    transform: $trans;
}
@mixin background($size:cover){
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center;
}